<!-- 下载游戏横栏 -->
	<header class="banner">
		<div class="banner__wp">
			<div class="banner__left">
				<a href="#" class="banner__logo"><%= title %></a>
				<ul class="banner__info">
					<li class="banner__infoTitle"><h1><%= title %></h1></li>
					<li class="banner__infoDetail"><%= desc %></li>
				</ul>
			</div>
			<div class="banner__right">
				<a href="#" class="banner__download">立即下载</a>
				<a href="#" class="banner__home">引导</a>
			</div>
		</div>

		<div class="nav">
			<ul class="nav__btnList">
				<!-- 首页 -->
				<li class="nav__btn">
					<em class="nav__logo nav__logo--home"></em>
				</li>
				<!-- 资料站 -->
				<li class="nav__btn">
					<em class="nav__logo nav__logo--info"></em>
				</li>
				<!-- 预约 -->
				<li class="nav__btn">
					<em class="nav__logo nav__logo--appointment"></em>
				</li>
				<!-- 攻略区 -->
				<li class="nav__btn">
					<em class="nav__logo nav__logo--strategy"></em>
				</li>
				<!-- 选美活动 -->
				<li class="nav__btn">
					<em class="nav__logo nav__logo--beauty"></em>
				</li>
				<!-- 宝宝站 -->
				<li class="nav__btn">
					<em class="nav__logo nav__logo--pet"></em>
				</li>
			</ul>
			<div class="nav__exit">
				<img src="./images/exit.png" alt="exit">
			</div>
		</div>
	</header>