<div class="header">
	<div class="header__video">
		<a href="http://sj.video.5054399.com/sjyx/ceshi0505/xyce05005.mp4" class="header__video--btn js-videoTrigger">
			<img class="header__video--bg" src="./images/header__bg.png" alt="">
		</a>
	</div>
	<div class="header__btn">
		<div class="header__btn--wp">
			<a class="header__btn--btn" href="#">新服预约</a>
			<a class="header__btn--btn" id="getPresent" href="#">领取礼包</a>
		</div>
	</div>
</div>