<!-- 新闻列表 -->
	<section class="news">
		<% if(locals.news.title !== undefined){ %>
		<%- include('_title',title) %>
		<% } %>
 	    <ul class="news__list">
 	    	<% for(var i=0; i<newslist.length; i++) {%>
 	    	<li class="news__item">
 	    		<a href="#" class="news__itemLink">
 	    			<span class="news__itemContent"><%= newslist[i].content %></span>
 	    			<span class="news__itemDate"><%= newslist[i].date %></span>
 	    		</a>
 	    	</li>
 	    	<% } %>
 	    </ul>
 	    <% if(locals.news.more !== undefined) { %>
 	   	<ul class="news__more fixed">
 	   		<li class="news__moreItem">
 	   			<span class="news__moreItem--content">资料站</span>
 	   		</li>
 	   		<li class="news__moreItem">
 	   			<span class="news__moreItem--content">攻略区</span>
 	   		</li>
 	   		<li class="news__moreItem">
 	   			<span class="news__moreItem--content">宝宝站</span>
 	   		</li>
 	   	</ul>
 	   	<% } %>
	</section>