<div class="pop-box">
    <div class="pop pop--video">
        <div class="pop__content">
            <div class="video-wp"></div>
        </div>
        <div class="pop__mask"></div>
    </div>
</div>