<div class="welfare">
	<div class="welfare__wp">
		<h1 class="welfare__title">
			<img src="./images/welfare__title.png" alt="福利中心">
		</h1>
		<a class="welfare__exit" href="javascript:void(0);">
			<img src="./images/welfare__exit.png" alt="退出">
		</a>
		<div class="present">
			<h3 class="present__title">1.新手礼包</h3>
			<ul class="present__list fixed">
				<li class="present__item">
					<img src="./images/present.png" alt="">
				</li>
				<li class="present__item">
					<img src="./images/present.png" alt="">
				</li>
				<li class="present__item">
					<img src="./images/present.png" alt="">
				</li>
				<li class="present__item">
					<img src="./images/present.png" alt="">
				</li>
			</ul>
			<h4 class="present__code">安卓新手礼包：XS1234567890</h4>
		</div>
		<div class="present">
			<h3 class="present__title">1.新手礼包</h3>
			<ul class="present__list fixed">
				<li class="present__item">
					<img src="./images/present.png" alt="">
				</li>
				<li class="present__item">
					<img src="./images/present.png" alt="">
				</li>
				<li class="present__item">
					<img src="./images/present.png" alt="">
				</li>
				<li class="present__item">
					<img src="./images/present.png" alt="">
				</li>
			</ul>
			<h4 class="present__code">安卓新手礼包：XS1234567890</h4>
		</div>
		<div class="present">
			<h3 class="present__title">1.新手礼包</h3>
			<ul class="present__list fixed">
				<li class="present__item">
					<img src="./images/present.png" alt="">
				</li>
				<li class="present__item">
					<img src="./images/present.png" alt="">
				</li>
				<li class="present__item">
					<img src="./images/present.png" alt="">
				</li>
				<li class="present__item">
					<img src="./images/present.png" alt="">
				</li>
			</ul>
			<h4 class="present__code">安卓新手礼包：XS1234567890</h4>
		</div>
	</div>
</div>