@charset "utf-8";
@import "compass";
@import "compass/utilities";

@import "./_title.scss";

@import "./_banner.scss";

@import "./_footer.scss";

.article{
	background: #fff;
	font-size: 1.5rem;
	&__header{
		padding: 1rem;
		border-bottom: 1px solid #cccccc;
	}
	&__title{
		font-size: 2rem;
		margin-bottom: 0.5rem;
		text-align: center;
	}
	&__time{
		font-size: 1.2rem;
		color: #999999;
	}
	&__content{
		text-align: justify;
		min-height: 20rem;
		padding: 2rem 1rem;
		line-height: 2rem;
		p{
			
		}
		img{
			display: block;
			width: 80%;
			margin: auto;
		}
	}
}