    <!-- 版权 -->
    <footer class="footer">
        <div class="footer__contact">            
            <div class="footer__contactItem">
                <div class="footer__contactImg">
                    <img src="images/wx.png" alt="weixin_logo">
                </div>
                <div class="footer__contactDesc">
                    <span>微信公众号：</span>
                    <br />
                    <span>qjzs4399</span>
                </div>
            </div>

            <div class="footer__contactItem">
                <div class="footer__contactImg">
                    <img src="images/qq.png" alt="qq_logo">
                </div>
                <div class="footer__contactDesc">
                    <span>QQ交流群：</span>
                    <br />
                    <span>123351855（iOS）</span>
                </div>
            </div>
        </div>

        <div class="top">
            <a href="#top" class="top__tag">
                <img class="top__img" src="images/top.png" alt="">
                <p class="top__desc">TOP</p>
            </a>
        </div>

        <div class="footer__desc">
            <em class="footer__logo"></em>
            <p class="footer__content">
                粤ICP备11010538号-7<br /> 
                网络文化经营许可证 粤网文[2014]2168-467<br />
                新出网证(粤)字049号
            </p>
        </div>
    </footer>