<!doctype html>
<html>

<head>
    <%- include('./ejs/_head', head)%>
    <link rel="stylesheet" type="text/css" href="./css/dataStation.css">
</head>
<body>
	<%- include('./ejs/_banner', banner) %>

	<%- include('./ejs/_title', title) %>

	<div class="dataStation">
		<h1 class="dataStation__title">游戏介绍</h1>

		<div class="dataStation__list-wp">
			<p class="dataStation__listName">背景介绍</p>
			<ul class="dataStation__list fixed">
				<li class="dataStation__item"><a href="#">背景介绍</a></li>
				<li class="dataStation__item"><a href="#">门派介绍</a></li>
				<li class="dataStation__item"><a href="#">门派介绍</a></li>
				<li class="dataStation__item"><a href="#">门派介绍</a></li>
				<li class="dataStation__item"><a href="#">背景介绍</a></li>
				<li class="dataStation__item"><a href="#">门派介绍</a></li>
			</ul>
		</div>

		<div class="dataStation__list-wp">
			<p class="dataStation__listName">背景介绍</p>
			<ul class="dataStation__list fixed">
				<li class="dataStation__item"><a href="#">背景介绍</a></li>
				<li class="dataStation__item"><a href="#">门派介绍</a></li>
				<li class="dataStation__item"><a href="#">门派介绍</a></li>
				<li class="dataStation__item"><a href="#">门派介绍</a></li>
				<li class="dataStation__item"><a href="#">背景介绍</a></li>
				<li class="dataStation__item"><a href="#">门派介绍</a></li>
			</ul>
		</div>

	</div>

	<div class="dataStation">
		<h1 class="dataStation__title">游戏介绍</h1>

		<div class="dataStation__list-wp">
			<p class="dataStation__listName">背景介绍</p>
			<ul class="dataStation__list fixed">
				<li class="dataStation__item"><a href="#">背景介绍</a></li>
				<li class="dataStation__item"><a href="#">门派介绍</a></li>
				<li class="dataStation__item"><a href="#">门派介绍</a></li>
				<li class="dataStation__item"><a href="#">门派介绍</a></li>
				<li class="dataStation__item"><a href="#">背景介绍</a></li>
				<li class="dataStation__item"><a href="#">门派介绍</a></li>
			</ul>
		</div>

		<div class="dataStation__list-wp">
			<p class="dataStation__listName">背景介绍</p>
			<ul class="dataStation__list fixed">
				<li class="dataStation__item"><a href="#">背景介绍</a></li>
				<li class="dataStation__item"><a href="#">门派介绍</a></li>
				<li class="dataStation__item"><a href="#">门派介绍</a></li>
				<li class="dataStation__item"><a href="#">门派介绍</a></li>
				<li class="dataStation__item"><a href="#">背景介绍</a></li>
				<li class="dataStation__item"><a href="#">门派介绍</a></li>
			</ul>
		</div>

	</div>

	<%- include('./ejs/_footer')%>

	<script src="./lib/js/zepto.1.1.4.min.js"></script>
	<script src="./js/main.js"></script>
</body>

</html>