<!doctype html>
<html>

<head>
    <%- include('./ejs/_head', head)%>
    <link rel="stylesheet" type="text/css" href="./css/petDetail.css">
</head>
<body>
	<%- include('./ejs/_banner', banner) %>

	<section class="petDetail">
		<%- include('./ejs/_title', title) %>

		<div class="petDetail__show fixed">
			<div class="petDetail__logo">
				<img src="./images/lmqq.png" alt="龙猫球球">
			</div>
			<ul class="petDetail__desc fixed">
				<li class="petDetail__desc--title">龙猫球球</li>
				<li class="petDetail__desc--level">
					携带等级<i class="level">35级</i>
				</li>
				<li class="petDetail__desc--from fixed">
					<i class="desc">出处</i>
					<i class="from">瑶池北（稀有）</i>
				</li>
			</ul>
			<div class="petDetail__pet fixed">
				<img src="./images/petDetail__pet.png" alt="龙猫球球">
			</div>
			<ul class="petDetail__btnList">
				<li class="petDetail__btn">
					<a href="#">
						<img src="./images/prev.png" alt="">
						<i>上一个</i>
					</a>
				</li>
				<li class="petDetail__btn">
					<a href="#">
						<i>下一个</i>
						<img src="./images/next.png" alt="">
					</a>
				</li>
			</ul>
		</div>

		<div class="petDetail__info">
			<div class="petDetail__title fixed">
				<img src="./images/petDetail__info.png" alt="">
				<h3>宠物资料</h3>
			</div>
			<table class="petDetail__aptitude petDetail__aptitude--3">
				<tr>
					<th>攻击资质</th>
					<th>防御资质</th>
					<th>体力资质</th>
				</tr>
				<tr>
					<td>5850</td>
					<td>1680</td>
					<td>1920</td>
				</tr>
			</table>
			<table class="petDetail__aptitude petDetail__aptitude--2">
				<tr>
					<th>法力资质</th>
					<th>速度资质</th>
				</tr>
				<tr>
					<td>5850</td>
					<td>1680</td>
				</tr>
			</table>
		</div>

		<div class="petDetail__skill">
			<div class="petDetail__title fixed">
				<img src="./images/petDetail__skill--must.png" alt="">
				<h3>宠物必备技能</h3>
			</div>
			<table class="petDetail__skillList fixed">
				<tr>
					<td class="petDetail__skillItem petDetail__skillItem--img">
						<img src="./images/petDetail__skill--shuigong.png" alt="水攻">
					</td>
					<td class="petDetail__skillItem petDetail__skillItem--content">
						水攻：水系单体法术，同时有10%概率降低对方物理和法术攻击力3%，持续3回合
					</td>
				</tr>
			</table>
		</div>

		<div class="petDetail__skill">
			<div class="petDetail__title fixed">
				<img src="./images/petDetail__skill--random.png" alt="">
				<h3>宠物随机技能</h3>
			</div>
			<table class="petDetail__skillList fixed">
				<tr>
					<td class="petDetail__skillItem petDetail__skillItem--img">
						<img src="./images/petDetail__skill--shuigong.png" alt="水攻">
					</td>
					<td class="petDetail__skillItem petDetail__skillItem--content">
						水攻：水系单体法术，同时有10%概率降低对方物理和法术攻击力3%，持续3回合
					</td>
				</tr>
				<tr>
					<td class="petDetail__skillItem petDetail__skillItem--img">
						<img src="./images/petDetail__skill--shuigong.png" alt="水攻">
					</td>
					<td class="petDetail__skillItem petDetail__skillItem--content">
						水攻：水系单体法术，同时有10%概率降低对方物理和法术攻击力3%，持续3回合
					</td>
				</tr>
				<tr>
					<td class="petDetail__skillItem petDetail__skillItem--img">
						<img src="./images/petDetail__skill--shuigong.png" alt="水攻">
					</td>
					<td class="petDetail__skillItem petDetail__skillItem--content">
						水攻：水系单体法术，同时有10%概率降低对方物理和法术攻击力3%，持续3回合
					</td>
				</tr>
			</table>
		</div>

	</section>

	<%- include('./ejs/_footer')%>

	<script src="./lib/js/zepto.1.1.4.min.js"></script>
	<script src="./js/main.js"></script>
</body>

</html>