<!doctype html>
<html>

<head>
    <%- include('./ejs/_head', head)%>
    <link rel="stylesheet" type="text/css" href="./css/pets.css">
</head>
<body>
	<%- include('./ejs/_banner', banner) %>

	<%- include('./ejs/_pet', pet)%>

	<%- include('./ejs/_footer')%>

	<script src="./lib/js/zepto.1.1.4.min.js"></script>
	<script src="./js/main.js"></script>
</body>

</html>