<!doctype html>
<html>

<head>
    <%- include('./ejs/_head', head)%>
    <link rel="stylesheet" type="text/css" href="./css/picCollection.css">
</head>
<body>
	<%- include('./ejs/_banner', banner) %>

	<%- include('./ejs/_title', title) %>

	<div class="picCollection">
		
		<div class="picCollection__activity">
			<img src="./images/activity__1.png" alt="">
		</div>

		<ul class="picCollection__imgList">
			<li class="picCollection__img">
				<a href="#" class="picCollection__img--link">
					<img class="picCollection__img--bg" src="./images/media__img--1.png" alt="">
					<span class="picCollection__img--title">点我点我点我</span>
				</a>
			</li>
			<li class="picCollection__img">
				<a href="#" class="picCollection__img--link">
					<img class="picCollection__img--bg" src="./images/media__img--1.png" alt="">
					<span class="picCollection__img--title">点我点我点我</span>
				</a>
			</li>
			<li class="picCollection__img">
				<a href="#" class="picCollection__img--link">
					<img class="picCollection__img--bg" src="./images/media__img--1.png" alt="">
					<span class="picCollection__img--title">点我点我点我</span>
				</a>
			</li>
			<li class="picCollection__img">
				<a href="#" class="picCollection__img--link">
					<img class="picCollection__img--bg" src="./images/media__img--1.png" alt="">
					<span class="picCollection__img--title">点我点我点我</span>
				</a>
			</li>
		</ul>

	</div>

	<%- include('./ejs/_footer')%>

	<script src="./lib/js/zepto.1.1.4.min.js"></script>
	<script src="./js/main.js"></script>
</body>

</html>