<!doctype html>
<html>

<head>
    <%- include('./ejs/_head', head)%>
    <link rel="stylesheet" type="text/css" href="./css/picView.css">
</head>
<body>
	<%- include('./ejs/_banner', banner) %>

	<%- include('./ejs/_title', title) %>

	<div class="picView">
		<h2 class="picView__title">
			看图看图看图看这里看这里
		</h2>
		<div class="picView__pic">
			<img src="./images/picView__pic.png" alt="">
		</div>
		<p class="picView__time">
			上传时间：<span class="time">2016-01-18</span>
		</p>
		<div class="picView__pagination fixed">
			<a class="picView__btn" href="#">
				<img src="./images/picView__prev.png" alt="">
				<i>上一张</i>
			</a>
			<span class="picView__page">01/20</span>
			<a class="picView__btn" href="#">
				<i>下一张</i>
				<img src="./images/picView__next.png" alt="">
			</a>
		</div>
	</div>

	<%- include('./ejs/_footer')%>

	<script src="./lib/js/zepto.1.1.4.min.js"></script>
	<script src="./js/main.js"></script>
</body>

</html>