.title{
	width: 100%;
	line-height: 4.5rem;
	position: relative;
	background: #2d6ea6;
	&__back{
		float: left;
		text-decoration: none;
		font-size: 0;
		width: 4rem;
		line-height: 4.5rem;
		background: url("../images/back.png") center center no-repeat;
		background-size: 30% 40%;
		position: relative;
		&:after{
			content: "";
			width: 1px;
			height: 2rem;
			background: #ffffff;
			position: absolute;
			right: 0;
			top: 1.25rem;
		}
	}
	&__content{
		float: left;
		padding-left: 5%;
		color: #fff;
		font-size: 1.5rem;
	}
	&__more{
		font-size: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 4rem;
		line-height: 4.5rem;
		border-left: 2px solid #5592c0;
		background: url("../images/more.png") center center no-repeat;
		background-size: 40% 35%;
	}
}